  <h1>{{ heroName() }}</h1>

  <dl>
    <td>Nombre:</td>
    <dd>{{ heroName() }}</dd>

    <td>Edad:</td>
    <dd>{{ heroAge() }}</dd>

    <td>Método:</td>
    <dd>{{ getHeroDescription() }}</dd>

    <td>Capitalizado:</td>
    <dd> {{ heroName().toUpperCase() }} </dd>
    
  </dl>

  <button (click)="updateHero()" class="btn btn-primary mx-2">
    Cambiar nombre
  </button>

  <button (click)="updateHeroAge()" class="btn btn-primary">Cambiar edad</button>

  <button (click)="resetHeroForm()" class="btn btn-primary mx-2">Reset</button>
